# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [55]:
df = json.load(open('data/world_bank_projects.json'))

In [56]:
df2 = json_normalize(df, 'mjtheme_namecode', ['id', 'countrycode', 'countryname'])

In [57]:
df2.countryname.value_counts().head(10)

Republic of Indonesia              56
Republic of India                  51
Socialist Republic of Vietnam      43
People's Republic of Bangladesh    41
Federative Republic of Brazil      41
People's Republic of China         40
Africa                             39
Republic of Yemen                  34
Kingdom of Morocco                 32
Republic of Mozambique             31
Name: countryname, dtype: int64

In [58]:
df2.name[df2.name != ""].value_counts().head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Name: name, dtype: int64

In [59]:
df3 = df2
df3.name[df3.name == ""] = "MISSING"
df3.head()

,code,name,id,countrycode,countryname
0,8,Human development,P129828,ET,Federal Democratic Republic of Ethiopia
1,11,MISSING,P129828,ET,Federal Democratic Republic of Ethiopia
2,1,Economic management,P144674,TN,Republic of Tunisia
3,6,Social protection and risk management,P144674,TN,Republic of Tunisia
4,5,Trade and integration,P145310,TV,Tuvalu